@page
@model IndexModel
@{ 
    ViewData["Title"] = "Inventory System Home page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านไก่ย่าง น้ำจิ้มสูตรเด็ด</p>
    <img src="https://img.wongnai.com/p/1920x0/2019/07/15/d669daa5804a4f33874d9393f786d5b5.jpg" width="50%"/>
</div>
